

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .header {
   
    padding: 10px;
   
    text-align: center;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card1-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centering the items */
  }
  
  .card1 {
    flex: 1 1 calc(50% - 20px); /* Two columns */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #90bfee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }
  
  .card1 p {
    margin: 5px 0;
    font-size:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .card1 input {
    width: calc(100% - 10px);
    padding: 5px;
  }
  
  .card1 button {
    margin: 5px 5px 5px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .card1 button.edit {
    background-color: #007bff;
    color: white;
    width: 125px;
    height: 45px;
  }
  
  .card1 button.delete {
    background-color: #dc3545;
    color: white;
    width: 125px;
    height: 45px;
  }
  